
.imgCol{
    margin-top: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.imgCard{
 height:95%;
 width: 80%;
 margin: 5px;
 object-fit:cover;
 opacity: 0.8;
 
}
.imgs{

 width: 100%;
 height: 85%;
 border-radius:2px 2px 0px 0px;
}
.cardCon{
    width: 100%;
    height:15%;
    text-align:center;
    background:rgb(0, 0, 0);
    border-radius:0px 0px 2px 2px;
    display:flex;
    justify-content: space-around;
    align-items:center; 
}
.like-box{
    color:red;
    display:flex;
    align-items:center;
}